@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rossellini Drive<br />
    Mississauga, ON <br />
    <abbr title="Phone">P:</abbr>
    400-000-1000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@careercloud.com">Support@careercloud.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@careercloud.com">Marketing@careercloud.com</a>
</address>