@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CareerCloud</h1>
    <p class="lead">The site for applicants and employers.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Are you applicant?</h2>
        <p><a class="btn btn-default" href="">Sign Up</a></p>
        <p><a class="btn btn-default" href="~/securitylogin/ALogin">Log In</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>Are you employer?</h2>
        <p><a class="btn btn-default" href="">Sign Up</a></p>
        <p><a class="btn btn-default" href="~/securitylogin/ELogin">Log In</a></p>
    </div>
</div>